/* font import */
@font-face {
    font-family: 'Almarai';
    src: url('../fonts/almarai-webfont/Almarai-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almarai';
    src: url('../fonts/almarai-webfont/Almarai-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica-neue-5/HelveticaNeueBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica-neue-5/HelveticaNeueBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica-neue-5/HelveticaNeueMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* Universal styles */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    padding: 0;
    font-family: 'Almarai', sans-serif;
    background-color: #6a1fb0;
    color: #f5fef8;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 1rem;
    padding: 0;
}

h1 { font-size: 3rem; } 
h2 { font-size: 2.25rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }

/* body text */
p { 
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

/* nav links */
.main-nav {
    font-family: 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
    margin: 0 1rem;
}

.main-nav ul a {
    text-decoration: none;
    color: #f5fef8;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.main-nav ul a::after {
    bottom: -4px;
    position: absolute;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    content: "";
    opacity: 0.8;
    transition: width 0.3s ease;
}

.main-nav ul a:hover::after {
    width: 100%;
}


/* about section */
/* projects section */
/* skills section */
/* contact section */